@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
  border-bottom: 0.25px solid #999999;
  background-color: white;
}

#logo{
  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0;
  z-index: 2;
}

#logo-text{
  font-family: 'Yellowtail', cursive;
  letter-spacing: -5px;
  transition: 0.3s ease;
}

#logo-text:hover{
  cursor: pointer;
  transform: scale(0.85);
  transition: 0.3s ease;
}

#menu-button{
  width: 35px;
  z-index: 2;
}

#menu-button span{
  display: block;
  height: 0.6vh;
  width: 100%;
}

.blank-span{
  background-color: transparent;
}

.filled-span{
  background-color: #000000;
}

#menu-button:hover{
  cursor: pointer;
  animation: wobble 0.4s;
}

@keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(10deg); }
  50%  { -webkit-transform:  rotate(-10deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}

#menu{
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.25px solid #999999;
}

#menu-item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 75px 30px 55px 30px;
  width: 100%;
}

.menu-item{
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 15px 0;
  border-bottom: 0.25px solid #999999;
  transition: 0.1s ease;
}

.menu-item:hover{
  color: #0066ff;
  font-weight: 600;
  transition: 0.1s ease;
}

.landing-text{
  width: 90%;
  text-align: center;
  color: #ffffff;
}

.landing-title{
  margin: 30px 0;
  font-size: 95px;
}

.title-resize{
  margin: 30px 0;
  font-size: 95px;
}

.landing-subtitle{
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}

.landing-arrow{
  font-family: 'Yellowtail', cursive;
  color: #ffffff;
  font-weight: 800;
  font-size: 55px;
  position: absolute;
  bottom: 10px;
}

.split-landing-arrow{
  color: #888888;
  font-family: 'Yellowtail', cursive;
  font-weight: 800;
  font-size: 55px;
  position: absolute;
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: 20px;
  left: 49vw;
}

.subtitle-resize{
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}

.mini-landing-title{
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-weight: 600;
}

.mini-landing-subtitle{
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
}

.scroll-arrow{
  display: none;
  width: 100%;
  color: #888888;
  font-weight: 400;
  font-size: 50px;
}

.center-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
  position: relative;
  width: 800px;
  text-align: center;
}

.regular-text{
  font-size: 25px;
  font-weight: 500;
  color: #888888;
}

.regular-text-left{
  font-size: 25px;
  font-weight: 500;
  color: #888888;
  text-align: left;
}

.light-text{
  text-decoration: none;
  color: #888888;
  font-weight: 400;
}

.middle-text{
  font-size: 40px;
  font-weight: 600;
  color: #111111;
}

#circle-img{
  border-radius: 50%;
  border: 1px solid #999999;
  width: 175px;
}

.carousel{
  padding: 0 25px;
  display: flex;
  flex-wrap: nowrap;
  gap: 0 32px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-link{
  text-decoration: none;
}

.card{
  transition: 0.3s ease;
  width: 300px;
}

.card:hover{
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.95);
  transition: 0.3s ease;
}

.backdrop{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-text-container{
  padding: 10vh 0;
  width: 80%;
  font-weight: 500;
  line-height: 1.6em;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.about-link{
  color: #888888;
  text-decoration-thickness: 1px;
  text-underline-offset: 9px;
}

.about-link:hover{
  color: #0066ff;
}

.sub-nav{
  width: 100%;
  height: 100px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav-container{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-nav-item{
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-nav-light{
  text-align: center;
  padding: 0;
  margin: 0;
  color: #999999;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
}

.sub-nav-bold{
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  color: #999999;
  transition: 0.1s ease;
}

.sub-nav-item:hover p{
  color: #111111
}

.sub-nav-item:hover .sub-nav-bold{
  font-weight: 700;
  transform: scale(1.25);
  transition: 0.1s ease;
}

.blue-u{
  text-decoration-thickness: 3px;
  text-underline-offset: 9px;
  text-decoration-color: #0066ff81;
  color: #888888;
  transition: 0.1s ease;
}

.blue-u:hover{
  transition: 0.1s ease;
  text-decoration-thickness: 9px;
}

.purple-u{
  text-decoration-thickness: 3px;
  text-underline-offset: 9px;
  text-decoration-color: #7700ff87;
  color: #888888;
  transition: 0.1s ease;
}

.purple-u:hover{
  transition: 0.1s ease;
  text-decoration-thickness: 9px;
}

.green-u{
  text-decoration-thickness: 3px;
  text-underline-offset: 9px;
  text-decoration-color: #00ffaa87;
  color: #888888;
  transition: 0.1s ease;
}

.green-u:hover{
  transition: 0.1s ease;
  text-decoration-thickness: 9px;
}

.split-landing{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.split-landing-img{
  width: 40vw;
}

.banner{
  padding: 75px 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading{
  padding-bottom: 15px;
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title{
  font-weight: 800;
  font-size: 40px;
}

.unfilled-button{
  text-transform: uppercase;
  padding: 5px 25px;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s ease;
  background-color: transparent;
  color: #0066ff;
  text-transform: uppercase;
  border-radius: 50px;
  border: 3px solid #0066ff;
}

.unfilled-button:hover{
  transition: 0.3s ease;
  transform: none;
  background-color: #0066ff;
  color: #ffffff;
}

.banner-text{
  width: 60%;
  line-height: 1.5em;
}

.page-title{
  margin: 30px 0;
  font-size: 95px;
}

.page-subtitle{
  font-size: 45px;
  font-weight: 500;
  color: #888888;
  line-height: 1.5em;
}

.spaced-text{
  text-align: left;
  line-height: 1.5em;
}

.white-text{
  color: #ffffff;
  font-weight: 500;
}

.regular-link{
  color: #888888;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  line-height: 1.5em;
}

.regular-link:hover{
  cursor: pointer;
  color: #0066ff;
}

.white-link{
  color: #ffffff;
  font-weight: 500;
  text-underline-offset: 5px;
}

.white-link:hover{
  color: #a3c7fc;
}

.border-bar{
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bar-container{
  padding: 0;
  margin: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-form{
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

#contact-form label{
  padding-bottom: 10px;
}

#contact-form input{
  min-height: 30px;
}

#contact-form textarea{
  min-height: 200px;
  resize: none;
  overflow-y: scroll;
}

#contact-form textarea,input{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 10px;
}

#contact-submit-button{
  width: 20%;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #0066ff;
  color: #0066ff;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 800;
  padding: 7px 0;
  transition: 0.3s ease;
}

#contact-submit-button:hover{
  color: #ffffff;
  background-color: #0066ff;
  transition: 0.3s ease;
  width: 25%;
}

.submitted-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitted{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 500;
  width: 400px;
  height: 100px;
  background-color: #cffff5;
  color: #00754e;
}

.submitted p{
  padding: 5px 0;
  margin: 0;
}

.back-to-top{
  float: right;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333333; /* Set a background color */
  color: #f4f4f4; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 25px; /* Increase font size */
  font-weight: 500;
}

.back-to-top:hover{
  opacity: 0.6;
}

.footer{
  width: 100%;
  background-color: #f4f4f4;
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.footer-title{
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 35px;
}

.footer-social-icon{
  width: 35px;
  padding-right: 5px;
  transition: 0.3s ease;
}

.footer-social-icon:hover{
  opacity: 0.5;
  transition: 0.3s ease;
}

.icon-attribute{
  color: #000000;
}

.site-information{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1300px){
  .scroll-arrow{
    display: inline;
  }
}

@media screen and (max-width: 1260px){
  .split-landing-arrow{
    display: none;
  }
}

@media screen and (max-width: 845px){
  .sub-nav-container{
    height: 100%;
    width: 100%;
    margin: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0 65px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .sub-nav-bold{
    font-size: 25px;
  }

  .sub-nav-light{
    font-size: 15px
  }

  #contact-form{
    padding: 0 5%;
  }

  #contact-submit-button{
    width: 35%;
  }

  #contact-submit-button:hover{
    width: 45%;
  }

  .center-text{
    width: 80%;
  }

  .split-landing{
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .split-landing-img{
    width: 48vw;
  }

  .title-resize{
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 600;
  }
  
  .subtitle-resize{
    margin-top: 0;
    font-size: 35px;
    font-weight: 400;
  }
}

@media screen and (max-width: 700px){
  .page-title{
    font-size: 50px;
  }

  .page-subtitle{
    font-size: 35px;
  }

  .banner-heading{
    width: 80%;
    text-align: center;
    height: auto;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: flex-end;
  }

  .banner-text{
    width: 80%;
  }

  .color-text-container{
    font-size: 27px;
  }
  .split-landing-img{
    width: 60vw;
  }
}

@media screen and (max-width: 500px){
  .border-bar-container{
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
  }

  .middle-text{
    font-size: 30px;
  }

  .regular-text{
    font-size: 22px;
  }

  .color-text-container{
    font-size: 22px;
  }
  .split-landing-img{
    width: 80vw;
  }
}

@media screen and (max-width: 370px){
  .landing-title{
    font-size: 80px;
  }

  .landing-subtitle{
    font-size: 45px;
  }
  .color-text-container{
    font-size: 20px;
  }
  .split-landing-img{
    width: 95vw;
  }
}